{% extends "base.html" %}
{% import "_macro.html" as macros %}

{% block title %}
Change password
{% endblock %}

{% block content %}
<div class="row justify-content-center">
	<div class="col col-sm-10 col-md-8 col-lg-6">
		<h3 class="ml-0">Change password</h3>
		<form method="POST" action="{{ url_for('auth.changepass') }}">
		{{ form.hidden_tag() }}
		{{ macros.field(form.old_password) }}
		{{ macros.field(form.new_password) }}
		{{ macros.field(form.new_password2) }}
		{{ form.submit(class="form-control btn btn-dark") }}
		</form>
	</div>
</div>
{% endblock %}