{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block navbar %}
	<div class="navbar-nav navbar-right">
		<a class="nav-item nav-link" href="{{ url_for('auth.register') }}">register</a>
	</div>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
	<div class="col col-sm-10 col-md-8 col-lg-6">
		<h3 class="ml-0">Login</h3>
		<form method="POST" action="{{ url_for('auth.login') }}">
			{{ form.csrf_token }}
			<div class="form-group">
				{{ form.identifier.label }}
				{% if form.identifier.errors %}
					{% for error in form.identifier.errors %}
						<small class="form-help text-muted">{{ error }}</small>
					{% endfor %}
				{% endif %}
				{{ form.identifier(class="form-control") }}
			</div>
			<div class="form-group">
				{{ form.password.label }}
				{% if form.password.errors %}
					{% for error in form.password.errors %}
						<small class="form-help text-muted">{{ error }}</small>
					{% endfor %}
				{% endif %}
				{{ form.password(class="form-control") }}
			</div>
			<div class="form-group mb-2">
				{{ form.remember_me(class="ml-2") }}
				{{ form.remember_me.label }}
			</div>
			{{ form.submit(class=" form-control btn btn-dark") }}
		</form>
	</div>
</div>
{% endblock %}