{% extends "base.html" %}
{% import "_macro.html" as macros %}

{% block title %}
Register
{% endblock %}

{% block navbar_right %}
	<div class="navbar-nav ml-auto">
		<a class="nav-item nav-link" href="{{ url_for('auth.login') }}">login</a>
	</div>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
	<div class="col col-sm-10 col-md-8 col-lg-6">
		<h3 class="ml-0">Register</h3>
		<form method="POST" action="{{ url_for('auth.register') }}">
			{{ form.hidden_tag() }}
			{{ macros.field(form.email) }}
			{{ macros.field(form.username) }}
			{{ macros.field(form.password) }}
			{{ macros.field(form.password2) }}
			{{ form.submit(class="form-control btn btn-success") }}
		</form>
	</div>
</div>
{% endblock %}