[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-login = "*"
flask-wtf = "*"
flask-bcrypt = "*"
flask-migrate = "*"
flask-mail = "*"
flask-moment = "*"
flask-principal = "*"
faker = "*"
flask-pagedown = "*"
markdown = "*"
bleach = "*"

[dev-packages]

[requires]
python_version = "3.6"
