{% extends "base.html" %}
{% import "_macro.html" as macros %}

{% block title %}Index{% endblock %}

{% block content %}
{{ super() }} 
<div class="row ml-2 justify-content-center">
	<h3 class="lead">
{% if current_user.is_authenticated %}
	Hello, {{ current_user.username }}!
{% else %}
	Hello, Stranger!
{% endif %}
{% if current_user.is_authenticated %}
	Click <a href="{{ url_for('main.post_submit') }}">here</a> to post a new article, or look at another posts below!
{% endif %}
	</h3>
</div>
<ul class="nav nav-tabs mb-3">
	<li class="nav-item">
		<a class="nav-link {% if not show_followed %}active{% endif %}" href="{{ 
		url_for('main.show_all') }}">show all</a>
	</li>
	<li class="nav-item">
		<a class="nav-link {% if show_followed %}active{% endif %}" href="{{ 
		url_for('main.show_followed') }}">show followed</a>
	</li>
</ul>
{{ macros.show_posts(posts, moment) }}
{{ macros.paginate(pagination, 'main.index') }}
{% endblock %}

{% block js %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.lang('en') }}
{% endblock %}