{% extends "base.html" %}
{% import "_macro.html" as macros %}

{% block title %}
User
{% endblock %}

{% block content %}
	<div class="row justify-content-center mb-5">
		<div class="col col-sm-12 col-md-10 col-lg-9">
			<div class="card border-info bg-light text-info">
				<div class="card-body">
				<div class="row">
					<div class="col">
						<img class="float-right" src="{{ user.avatar_url }}" style="width:100px;height:100px"/>
						<em><h2>{{ user.username }}</h2></em>
						<p>
							<button class="btn btn-info btn-sm mt-1" onclick="window.location.href='{{ url_for('main.user', username=user.username) }}'">Articles 
								<span class="badge badge-light">{{ user.posts.count() }}</span>
							</button>
							<button class="btn btn-info btn-sm mt-1" onclick="window.location.href='{{ url_for('main.followers', username=user.username) }}'">followes 
								<span class="badge badge-light">{{ user.followers.count() }}</span>
							</button>
							<button class="btn btn-info btn-sm mt-1" onclick="window.location.href='{{ url_for('main.followings', username=user.username) }}'">followings 
								<span class="badge badge-light">{{ user.followings.count() }}</span>
							</button>
						</p>
						<p><strong>Realname:</strong> {{ user.name }}</p>
						<p><strong>Age:</strong> {{ user.age }}</p>
						<p><strong>Location:</strong> {{ user.location }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col col-8">
					<p><strong>About me:</strong> {{ user.about_me }}</p>
					<p><strong>Member since: </strong>{{ moment(user.member_since).fromNow() }}</p>
					<p><strong>Last login: </strong>{{ moment(user.last_since).fromNow() }}</p>
					</div>
					<div class="col ml-auto" style="max-width:200px">
					{% if current_user.is_authenticated %}
						{% if current_user.id == user.id %}
							<a class="float-right btn btn-info mt-3" href="{{ url_for('main.user_info_edit') }}" style="width:120%">edit my profile</a>
						{% endif %}
						{% if has_permission('admin') %}
							<a class="float-right btn btn-info mt-3" href="{{ url_for('main.admin_info_edit', username=user.username) }}" style="width:120%">edit by admin</a>
						{% endif %}
					{% endif %}
					</div>
				</div>
			</div>
					<div class="card-footer pb-0 text-muted">
					<p>
						<span class="float-right">
							{% if current_user.id != user.id and current_user.is_authenticated %}
								{% if current_user.is_followed_user(user.id) and current_user.is_followed_by(user.id) %}
									<small class="text-muted mr-1">Focus on each other</small>
								{% elif current_user.is_followed_by(user.id) %}
									<small class="text-muted mr-1">be followed</small>
								{% endif %}

								{% if not current_user.is_followed_user(user.id) %}
									<button type="button" class="btn btn-info btn-sm mb-2" onclick="window.location.href='{{ url_for('main.follow', userid=user.id) }}'">Follow</button>
								{% else%}
									<button type="button" class="btn btn-info btn-sm mb-2" onclick="window.location.href='{{ url_for('main.unfollow', userid=user.id) }}'">Unfollow</button>
								{% endif %}
							{% endif %}
						</span>
					</p>
					</div>
				</div>
		</div>
	</div>
{{ macros.show_posts(posts, moment) }}
{% if pagination.pages == 1 or pagination.pages == 0 %}

	{% else %}
		<div class="row justify-content-center">
			<ul class="pagination">
				{% if pagination.has_prev %}
					<li class="page-item">
						<a class="page-link" href="{{ url_for('main.user', username=user.username, page=1) }}">Previous</a>
					</li>
				{% else %}
					<li class="page-item disabled">
						<a class="page-link" href="#">Previous</a>
					</li>
				{% endif %}

				{% for page in pagination.iter_pages() %}
					{% if page == pagination.page %}
						<li class="page-item active">
							<a class="page-link" href="{{ url_for('main.user', username=user.username, page=page) }}">{{ page }}</a>
						</li>
					{% elif not page %}
						<li class="page-item disabled">
							<a class="page-link" href="#">...</a>
						</li>
					{% else %}
						<li class="page-item">
							<a class="page-link" href="{{ url_for('main.user', username=user.username, page=page) }}">{{ page }}</a>
						</li>
					{% endif %}
				{% endfor %}

				{% if pagination.has_next %}
					<li class="page-item">
						<a class="page-link" href="{{ url_for('main.user', username=user.username, page=pagination.pages ) }}">Last</a>
					</li>
				{% else %}
					<li class="page-item disabled">
						<a class="page-link" href="#">Last</a>
					</li>
				{% endif %}
			</ul>
		</div>
	{% endif %}
{% endblock %}

{% block js %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.lang('en') }}
{% endblock %}