.container {
	position:relative;
	height:auto;
	padding:0;
}

nav {
	border-radius:10px;
}

section {
	background-color:white;
	padding:0;
	margin:0;
}

h3 {
	margin-top:5%;
	margin-left:5%;
}

/*.footer {
	position:absolute;
	height:50px;
	width:100%;
	bottom:0;
}*/