{% macro field(field) %}
<div class="form-group">
	{{ field.label }}
	{% if field.errors %}
		{% for error in field.errors %}
				<br /><small class="form-help text-muted">{{ error }}</small>
		{% endfor %}
	{% endif %}
	{{ field(class="form-control") }}
</div>
{% endmacro %}

{% macro setting_nav(page) %}
<ul class="nav nav-tabs">
	<li class="nav-item">
		<a class="nav-link {% if page=='info' %}active{% endif %}" href="{{ url_for('main.user_info_edit') }}">info edit</a>
	</li>
	<li class="nav-item">
		<a class="nav-link {% if page!='info' %}active{% endif %}" href="{{ url_for('main.account_setting') }}">account setting</a>
	</li>
</ul>
{% endmacro %}

{% macro paginate(pagination, endpoint) %}
	{% if pagination.pages == 1 %}

	{% else %}
		<div class="row">
			<ul class="pagination">
				{% if pagination.has_prev %}
					<li class="page-item">
						<a class="page-link" href="{{ url_for(endpoint, page=1) }}">Previous</a>
					</li>
				{% else %}
					<li class="page-item disabled">
						<a class="page-link" href="#">Previous</a>
					</li>
				{% endif %}

				{% for page in pagination.iter_pages() %}
					{% if page == pagination.page %}
						<li class="page-item active">
							<a class="page-link" href="{{ url_for(endpoint, page=page) }}">{{ page }}</a>
						</li>
					{% elif not page %}
						<li class="page-item disabled">
							<a class="page-link" href="#">...</a>
						</li>
					{% else %}
						<li class="page-item">
							<a class="page-link" href="{{ url_for(endpoint, page=page) }}">{{ page }}</a>
						</li>
					{% endif %}
				{% endfor %}

				{% if pagination.has_next %}
					<li class="page-item">
						<a class="page-link" href="{{ url_for(endpoint, page=pagination.pages ) }}">Last</a>
					</li>
				{% else %}
					<li class="page-item disabled">
						<a class="page-link" href="#">Last</a>
					</li>
				{% endif %}
			</ul>
		</div>
	{% endif %}
{% endmacro %}